<a href="https://colab.research.google.com/github/andrealves44/CorujaLogs/blob/main/API_3_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive

# Montar o Google Drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Verificar o conteúdo da pasta 'DadosComexStat'
import os

# Caminho da pasta no Google Drive
pasta_drive = '/content/drive/MyDrive/Data/API-3'

In [ ]:
if os.path.exists(pasta_drive):
    arquivos = os.listdir(pasta_drive)
    print(f"{arquivos}")
else:
    print(f"Pasta não encontrada no Google Drive.")

['datatran2015.csv', 'datatran2016.csv', 'datatran2022.csv', 'datatran2023.csv', 'datatran2017.csv', 'datatran2018.csv', 'datatran2019.csv', 'datatran2020.csv', 'datatran2021.csv', 'datatran2024.csv', 'datatran2025.csv', 'data15_25.csv', 'data15_24.csv', 'data17_24.csv']

In [ ]:
arquivo_1 = '/content/drive/MyDrive/Data/API-3/datatran2015.csv'
arquivo_2 = '/content/drive/MyDrive/Data/API-3/datatran2016.csv'
arquivo_3 = '/content/drive/MyDrive/Data/API-3/datatran2017.csv'
arquivo_4 = '/content/drive/MyDrive/Data/API-3/datatran2018.csv'
arquivo_5 = '/content/drive/MyDrive/Data/API-3/datatran2019.csv'
arquivo_6 = '/content/drive/MyDrive/Data/API-3/datatran2020.csv'
arquivo_7 = '/content/drive/MyDrive/Data/API-3/datatran2021.csv'
arquivo_8 = '/content/drive/MyDrive/Data/API-3/datatran2022.csv'
arquivo_9 = '/content/drive/MyDrive/Data/API-3/datatran2023.csv'
arquivo_10 = '/content/drive/MyDrive/Data/API-3/datatran2024.csv'
arquivo_11 = '/content/drive/MyDrive/Data/API-3/datatran2025.csv'

In [ ]:
data15 = pd.read_csv(arquivo_1, sep=';', low_memory=False, encoding='latin-1')
data16 = pd.read_csv(arquivo_2, sep=';', low_memory=False, encoding='latin-1')
data17 = pd.read_csv(arquivo_3, sep=';', low_memory=False, encoding='latin-1')
data18 = pd.read_csv(arquivo_4, sep=';', low_memory=False, encoding='latin-1')
data19 = pd.read_csv(arquivo_5, sep=';', low_memory=False, encoding='latin-1')
data20 = pd.read_csv(arquivo_6, sep=';', low_memory=False, encoding='latin-1')
data21 = pd.read_csv(arquivo_7, sep=';', low_memory=False, encoding='latin-1')
data22 = pd.read_csv(arquivo_8, sep=';', low_memory=False, encoding='latin-1')
data23 = pd.read_csv(arquivo_9, sep=';', low_memory=False, encoding='latin-1')
data24 = pd.read_csv(arquivo_10, sep=';', low_memory=False, encoding='latin-1')
data25 = pd.read_csv(arquivo_11, sep=';', low_memory=False, encoding='latin-1')

In [ ]:
data15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122161 entries, 0 to 122160
Data columns (total 26 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      122161 non-null  int64
 1   data_inversa            122161 non-null  object
 2   dia_semana              122161 non-null  object
 3   horario                 122161 non-null  object
 4   uf                      122161 non-null  object
 5   br                      122161 non-null  int64
 6   km                      122161 non-null  float64
 7   municipio               122161 non-null  object
 8   causa_acidente          122161 non-null  object
 9   tipo_acidente           122161 non-null  object
 10  classificacao_acidente  122161 non-null  object
 11  fase_dia                122161 non-null  object
 12  sentido_via             122161 non-null  object
 13  condicao_metereologica  122161 non-null  object
 14  tipo_pista              122161 non-null  object
 15  tracado_via             122161 non-null  object
 16  uso_solo                122161 non-null  object
 17  ano                     122161 non-null  int64
 18  pessoas                 122161 non-null  int64
 19  mortos                  122161 non-null  int64
 20  feridos_leves           122161 non-null  int64
 21  feridos_graves          122161 non-null  int64
 22  ilesos                  122161 non-null  int64
 23  ignorados               122161 non-null  int64
 24  feridos                 122161 non-null  int64
 25  veiculos                122161 non-null  int64
dtypes: float64(1), int64(11), object(14)
memory usage: 24.2+ MB

In [ ]:
data15_24 = pd.concat([data15, data16, data17, data18, data19, data20, data21, data22, data23, data24,], ignore_index=True)
data15_24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 778662 entries, 0 to 778661
Data columns (total 31 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      778662 non-null  float64
 1   data_inversa            778662 non-null  object
 2   dia_semana              778662 non-null  object
 3   horario                 778662 non-null  object
 4   uf                      778662 non-null  object
 5   br                      778662 non-null  int64
 6   km                      778662 non-null  object
 7   municipio               778662 non-null  object
 8   causa_acidente          778662 non-null  object
 9   tipo_acidente           778621 non-null  object
 10  classificacao_acidente  778652 non-null  object
 11  fase_dia                778661 non-null  object
 12  sentido_via             778662 non-null  object
 13  condicao_metereologica  778659 non-null  object
 14  tipo_pista              778662 non-null  object
 15  tracado_via             778662 non-null  object
 16  uso_solo                778662 non-null  object
 17  ano                     122161 non-null  float64
 18  pessoas                 778662 non-null  int64
 19  mortos                  778662 non-null  int64
 20  feridos_leves           778662 non-null  int64
 21  feridos_graves          778662 non-null  int64
 22  ilesos                  778662 non-null  int64
 23  ignorados               778662 non-null  int64
 24  feridos                 778662 non-null  int64
 25  veiculos                778662 non-null  int64
 26  latitude                560138 non-null  object
 27  longitude               560138 non-null  object
 28  regional                560111 non-null  object
 29  delegacia               559923 non-null  object
 30  uop                     559742 non-null  object
dtypes: float64(2), int64(9), object(20)
memory usage: 184.2+ MB

In [ ]:
print("Valores vazios por coluna:")
print(data15_24.isnull().sum())

Valores vazios por coluna:
id                             0
data_inversa                   0
dia_semana                     0
horario                        0
uf                             0
br                             0
km                             0
municipio                      0
causa_acidente                 0
tipo_acidente                 41
classificacao_acidente        10
fase_dia                       1
sentido_via                    0
condicao_metereologica         3
tipo_pista                     0
tracado_via                    0
uso_solo                       0
ano                       656501
pessoas                        0
mortos                         0
feridos_leves                  0
feridos_graves                 0
ilesos                         0
ignorados                      0
feridos                        0
veiculos                       0
latitude                  218524
longitude                 218524
regional                  218551
delegacia                 218739
uop                       218920
dtype: int64

In [ ]:
data15_24 = data15_24.drop(columns=["ano"])

In [ ]:
data15_24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 778662 entries, 0 to 778661
Data columns (total 30 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      778662 non-null  float64
 1   data_inversa            778662 non-null  object
 2   dia_semana              778662 non-null  object
 3   horario                 778662 non-null  object
 4   uf                      778662 non-null  object
 5   br                      778662 non-null  int64
 6   km                      778662 non-null  object
 7   municipio               778662 non-null  object
 8   causa_acidente          778662 non-null  object
 9   tipo_acidente           778621 non-null  object
 10  classificacao_acidente  778652 non-null  object
 11  fase_dia                778661 non-null  object
 12  sentido_via             778662 non-null  object
 13  condicao_metereologica  778659 non-null  object
 14  tipo_pista              778662 non-null  object
 15  tracado_via             778662 non-null  object
 16  uso_solo                778662 non-null  object
 17  pessoas                 778662 non-null  int64
 18  mortos                  778662 non-null  int64
 19  feridos_leves           778662 non-null  int64
 20  feridos_graves          778662 non-null  int64
 21  ilesos                  778662 non-null  int64
 22  ignorados               778662 non-null  int64
 23  feridos                 778662 non-null  int64
 24  veiculos                778662 non-null  int64
 25  latitude                560138 non-null  object
 26  longitude               560138 non-null  object
 27  regional                560111 non-null  object
 28  delegacia               559923 non-null  object
 29  uop                     559742 non-null  object
dtypes: float64(1), int64(9), object(20)
memory usage: 178.2+ MB

In [ ]:
# lista das colunas que queremos preencher
cols = ["latitude", "longitude", "regional", "delegacia", "uop"]

# preencher apenas os valores vazios (NaN) com 0
data15_24[cols] = data15_24[cols].fillna(0)

In [ ]:
print("Valores vazios por coluna:")
print(data15_24.isnull().sum())

Valores vazios por coluna:
id                         0
data_inversa               0
dia_semana                 0
horario                    0
uf                         0
br                         0
km                         0
municipio                  0
causa_acidente             0
tipo_acidente             41
classificacao_acidente    10
fase_dia                   1
sentido_via                0
condicao_metereologica     3
tipo_pista                 0
tracado_via                0
uso_solo                   0
pessoas                    0
mortos                     0
feridos_leves              0
feridos_graves             0
ilesos                     0
ignorados                  0
feridos                    0
veiculos                   0
latitude                   0
longitude                  0
regional                   0
delegacia                  0
uop                        0
dtype: int64

In [ ]:
data15_24.to_csv('data15_24.csv', sep=';', encoding='UTF-8', index=False)

from google.colab import files

files.download('data15_24.csv')

In [ ]:
data15_24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 778662 entries, 0 to 778661
Data columns (total 30 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      778662 non-null  float64
 1   data_inversa            778662 non-null  object
 2   dia_semana              778662 non-null  object
 3   horario                 778662 non-null  object
 4   uf                      778662 non-null  object
 5   br                      778662 non-null  int64
 6   km                      778662 non-null  object
 7   municipio               778662 non-null  object
 8   causa_acidente          778662 non-null  object
 9   tipo_acidente           778621 non-null  object
 10  classificacao_acidente  778652 non-null  object
 11  fase_dia                778661 non-null  object
 12  sentido_via             778662 non-null  object
 13  condicao_metereologica  778659 non-null  object
 14  tipo_pista              778662 non-null  object
 15  tracado_via             778662 non-null  object
 16  uso_solo                778662 non-null  object
 17  pessoas                 778662 non-null  int64
 18  mortos                  778662 non-null  int64
 19  feridos_leves           778662 non-null  int64
 20  feridos_graves          778662 non-null  int64
 21  ilesos                  778662 non-null  int64
 22  ignorados               778662 non-null  int64
 23  feridos                 778662 non-null  int64
 24  veiculos                778662 non-null  int64
 25  latitude                778662 non-null  object
 26  longitude               778662 non-null  object
 27  regional                778662 non-null  object
 28  delegacia               778662 non-null  object
 29  uop                     778662 non-null  object
dtypes: float64(1), int64(9), object(20)
memory usage: 178.2+ MB

In [ ]:
data15_24.head()

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,83298209.0,2015-01-01,Quinta,00:05:00,RJ,101,327.0,NITEROI,Outras,Colisão traseira,...,0,2,0,0,2,0,0,0,0,0
1,83298218.0,2015-01-01,Quinta,01:20:00,MS,163,434.4,CAMPO GRANDE,Animais na Pista,Saída de Pista,...,0,1,0,1,1,0,0,0,0,0
2,83298220.0,2015-01-01,Quinta,01:45:00,RJ,40,64.0,PETROPOLIS,Outras,Colisão com objeto fixo,...,0,2,0,0,2,0,0,0,0,0
3,83298221.0,2015-01-01,Quinta,02:50:00,SC,101,356.1,SANGAO,Falta de atenção,Saída de Pista,...,0,0,0,4,1,0,0,0,0,0
4,83298222.0,2015-01-01,Quinta,02:50:00,RS,101,25.9,TRES CACHOEIRAS,Falta de atenção,Saída de Pista,...,0,1,0,0,1,0,0,0,0,0